<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
    <span>Gestion de asociados</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="true">
    <!-- Iconos: https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
    <mat-nav-list>
      <mat-list-item routerLink="">
        <mat-icon color="primary" class="nav-icon">home</mat-icon>
        Inicio
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary" class="nav-icon"> business</mat-icon>
        Empresas
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary" class="nav-icon"> person_pin</mat-icon>
        Personas
      </mat-list-item>
      <mat-list-item>
        <mat-icon color="primary" class="nav-icon">perm_identity</mat-icon>
        Usuarios
      </mat-list-item>

      <mat-list-item routerLink="private/abm-tipo-de-relacion" >
        <mat-icon color="primary" class="nav-icon">settings</mat-icon>
        Tipos de relaciones
      </mat-list-item>
      <mat-list-item routerLink="private/abm-rubro" >
        <mat-icon color="primary" class="nav-icon">settings</mat-icon>
        Rubros
      </mat-list-item>
      <mat-list-item routerLink="private/abm-localidad" >
        <mat-icon color="primary" class="nav-icon">settings</mat-icon>
        Localidades
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>