<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gestion de asociados</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="true">

    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option>
            <a routerLink="chart">Graficas</a>
      </mat-list-option>
      <mat-list-option>
            Otra cosa
      </mat-list-option>
      <mat-list-option>
            Otra cosa más
      </mat-list-option>
    </mat-selection-list>

    <mat-accordion multi>
      <mat-expansion-panel hideToggle expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Seccion 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option>
                Una cosa
          </mat-list-option>
          <mat-list-option>
                Otra cosa
          </mat-list-option>
          <mat-list-option>
                Otra cosa más
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi>
      <mat-expansion-panel hideToggle expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Seccion 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option>
                Una cosa
          </mat-list-option>
          <mat-list-option>
                Otra cosa
          </mat-list-option>
          <mat-list-option>
                Otra cosa más
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
    
    

  </mat-drawer-content>
</mat-drawer-container>