
.mat-toolbar {
    position: fixed; /* sticky = lo oculta al hacer scroll, fixed = siempre lo muestra */
    position: -webkit-sticky; /* Para macOS/iOS Safari */
    top: 0; /* Fija a la parte superior */
    z-index: 1000; /* Ningun elemento se superpondrá por encima */
}

.mat-drawer-container {
    /*height: calc(100% - 64px); /*la altura del contenedor será el 100% - la altura de la navbar*/
    height: 100%;
    margin-top: 64px;
}

.mat-drawer {
    padding: 0px;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
}


