.w-100 {
    width: 100%;
}
h2 {
    padding: 1rem 0 0.5rem;
    font-size: 1.5rem;
    opacity: #111;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}