<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title flex">
                <h2 [@inTitleAnimation] class="mt-2">{{ 'tituloPersona' | msg }}</h2>
                <button (click)="creaPersona()" mat-stroked-button class="add">
                    <mat-icon>add</mat-icon>
                    {{ 'nuevo' | msg }}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field [@inCardAnimation]="{value: ':leave', params: { delay: 0} }" appearance="outline" class="w-100">
                <mat-label>{{ 'buscar' | msg }}</mat-label>
                <input matInput [disabled]="reqListado != null || error != ''" placeholder="{{ 'placeholderBuscar' | msg }}" [(ngModel)]="search" (change)="buscar()">
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-card [@inCardAnimation]="{value: ':leave', params: { delay: 0.1} }" class="py-0 px-0">
                <mat-card-content>
                    <div class="spinner" *ngIf="reqListado != null;else tabla">
                        <mat-spinner> </mat-spinner>
                    </div>
                    <ng-template #tabla>
                        <div class="error" *ngIf="error != ''">
                            <img src="assets/images/error.png" alt="">
                            <h3>{{ 'errorListado' | msg }} </h3>
                            <p>{{ error }}</p>
                        </div>
                        <table *ngIf="error == ''" mat-table [dataSource]="listaElementos.data ? listaElementos.data : []" class="w-100">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef>{{ 'thID' | msg }}</th>
                                <td width="50" matRipple mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef>{{ 'thNombre' | msg }}</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre_1 + ' ' + element.nombre_1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="celular">
                                <th class="text-center" mat-header-cell *matHeaderCellDef>{{ 'thCelular' | msg }}</th>
                                <td class="text-center" mat-cell *matCellDef="let element"> {{element.celular}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th class="text-center" mat-header-cell *matHeaderCellDef>{{ 'thEmail' | msg }}</th>
                                <td class="text-center" mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th class="text-center" mat-header-cell *matHeaderCellDef>{{ 'thAcciones' | msg }}</th>
                                <td class="text-center acciones-tool" width="145" mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="accent" matTooltip="{{ element.user ? 'Editar usuario' : 'Crear usuario' }}" (click)="guardaAcceso(element.user, element.id)">
                                        <mat-icon>{{ element.user ? 'account_circle' : 'vpn_key'}}</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" matTooltip="{{ 'edit' | msg }}" (click)="creaPersona(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" matTooltip="{{ 'delete' | msg }}" (click)="seleccionarParaEliminar(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                            <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="6">
                                    <img src="assets/images/no-registros.png" alt="">
                                    <h3>{{ 'vacio' | msg }}</h3>
                                </td>
                            </tr>
                        </table>
                        <mat-paginator
                            *ngIf="listaElementos.data.length > 0"
                            (page)="cargarLista($event)"
                            [pageIndex]="listaElementos.current_page - 1"
                            [length]="listaElementos.total"
                            [pageSize]="listaElementos.per_page ? listaElementos.per_page : 10"
                            [pageSizeOptions]="[1, 5, 10, 20]" 
                            showFirstLastButtons
                        ></mat-paginator>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>