<mat-drawer-container autosize>
    <mat-drawer #drawer [mode]="innerWidth && innerWidth >= 1280 ? 'side' : 'over'"
        [opened]="!innerWidth || innerWidth >= 1280">
        <!-- Iconos: https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
        <div *ngIf="innerWidth && innerWidth >= 1280;else logo" class="toolbar">
            <div class="logo-white">
                <img height="50px" src="assets/images/home-image.png">
            </div>
        </div>
        <ng-template #logo>
            <div class="logo">
                <img height="50px" src="assets/images/home-image.png">
            </div>
        </ng-template>
        <mat-nav-list>
            <mat-list-item routerLinkActive="active" routerLink="home">
                <mat-icon color="primary" class="nav-icon">home</mat-icon>
                Inicio
            </mat-list-item>
            <mat-divider class="my-2"></mat-divider>
            <mat-list-item routerLinkActive="active" routerLink="chart" >
              <mat-icon color="primary" class="nav-icon">bar_chart</mat-icon>
              Gráficos
            </mat-list-item>
            <mat-divider class="my-2"></mat-divider>
            <mat-list-item routerLinkActive="active" routerLink="empresa">
                <mat-icon color="primary" class="nav-icon"> business</mat-icon>
                Empresas
            </mat-list-item>
            <mat-list-item>
                <mat-icon color="primary" class="nav-icon"> person_pin</mat-icon>
                Personas
            </mat-list-item>
            <mat-list-item>
                <mat-icon color="primary" class="nav-icon">perm_identity</mat-icon>
                Usuarios
            </mat-list-item>
            
            <mat-divider class="my-2"></mat-divider>

            <mat-list-item (click)="expandirMantenimiento()" routerLinkActive="active">
                <mat-icon color="primary" class="nav-icon">settings</mat-icon>
                Mantenimiento
            </mat-list-item>
            <div [hidden]="!mantenimiento" class="graficos-level">
                <mat-list-item routerLinkActive="active" routerLink="abm-tipo-de-relacion">
                    <mat-icon color="primary" class="nav-icon">scatter_plot</mat-icon>
                    Tipos de relaciones
                </mat-list-item>
                <mat-list-item routerLinkActive="active" routerLink="abm-rubro">
                    <mat-icon color="primary" class="nav-icon">supervised_user_circle</mat-icon>
                    Rubros
                </mat-list-item>
                <mat-list-item routerLinkActive="active" routerLink="abm-localidad">
                    <mat-icon color="primary" class="nav-icon">room</mat-icon>
                    Localidades
                </mat-list-item>
                <mat-list-item routerLinkActive="active" routerLink="abm-departamento">
                    <mat-icon color="primary" class="nav-icon">map</mat-icon>
                    Departamento
                </mat-list-item>
            </div>
            <mat-divider class="my-2"></mat-divider>

            <mat-list-item (click)="cerrarSesion()" routerLinkActive="active">
                <mat-icon color="primary" class="nav-icon">logout</mat-icon>
                Cerrar sesión
            </mat-list-item>

            <mat-divider class="my-2"></mat-divider>

        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar color="primary" elevation="5">
            <button *ngIf="innerWidth && innerWidth <= 1280" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="ml-3">Gestion de asociados</span>
            <span class="spacer"></span>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>