<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h2 [@inTitleAnimation] class="mt-2">Empresas por rubro</h2>
            </div>
        </div>
    </div>
    <mat-card [@inCardAnimation]="{value: ':leave', params: { delay: 0.2} }" class="p-2">
        <mat-card-header>
            <mat-card-title>Filtro</mat-card-title>
        </mat-card-header>
        <mat-card-content class="px-2">
            <div class="row">
                <div class="col-12 mt-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filtrar rubros</mat-label>
                        <mat-select [(ngModel)]="key">
                            <mat-option *ngFor="let rubro of listaRubros"
                                (click)="filter(rubro.id)" [value]="rubro.id">
                                {{rubro.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="row">
        <div class="col-12">
            <mat-card [@inCardAnimation]="{value: ':leave', params: { delay: 0} }" class="py-0 px-0">
                <mat-card-content>
                    <div class="spinner" *ngIf="reqListado != null;else tabla">
                        <mat-spinner> </mat-spinner>
                    </div>
                    <ng-template #tabla>
                        <table mat-table [dataSource]="listaElementos.data ? listaElementos.data : []" class="w-100">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef>ID</th>
                                <td width="50" matRipple mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="logo">
                                <th class="text-center" mat-header-cell *matHeaderCellDef>logo</th>
                                <td class="text-center" mat-cell *matCellDef="let element">
                                    <div mat-card-avatar class="example-header-image"
                                        [style.background-image]="'url(' + element.logo + ')'"></div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="nombre_fantasia">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre_fantasia}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nro_bps">
                                <th class="text-center" mat-header-cell *matHeaderCellDef>BPS</th>
                                <td class="text-center" mat-cell *matCellDef="let element"> {{element.nro_bps}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nro_rut">
                                <th class="text-center" mat-header-cell *matHeaderCellDef>RUT</th>
                                <td class="text-center" mat-cell *matCellDef="let element"> {{element.nro_rut}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                            <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="6">
                                    <img src="assets/images/no-registros.png" alt="">
                                    <h3>No hay nada para mostrar</h3>
                                </td>
                            </tr>
                        </table>
                        <mat-paginator *ngIf="listaElementos.data.length > 0" (page)="paginado($event)"
                            [pageIndex]="listaElementos.current_page - 1" [length]="listaElementos.total"
                            [pageSize]="listaElementos.per_page" [pageSizeOptions]="[1, 5, 10, 20]"
                            showFirstLastButtons></mat-paginator>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>