<div class="container mt-4">
    <div class="noEmpresa" *ngIf="noEmpresa;else main" [@inInfoAnimation]="{value: ':leave', params: { delay: 0} }">
        <img src="assets/images/empresa.png">
        <h2>{{ 'noIdentificado' | msg }}</h2>
    </div>
    <ng-template #main>
        <div class="spinner" *ngIf="reqCargar != null">
            <mat-spinner> </mat-spinner>
        </div>
        <div class="row" *ngIf="reqCargar == null">
            <div class="col-12">
                <img class="logo" [src]="logo(elemento.logo)">
                <div>
                    <h2 class="text-center">{{ elemento.nombre_fantasia }}</h2>
                    <h4 class="text-center">{{ elemento.razon_social }}</h4>
                </div>    
            </div>
        </div>
        <div class="row" *ngIf="reqCargar == null">
            <div class="col-12 col-md-6">
                <h3 [@inInfoAnimation]="{value: ':leave', params: { delay: 0.1} }">{{ 'subTituloGeneral' | msg }}</h3>
                <mat-card [@inCardAnimation]="{value: ':leave', params: { delay: 0} }" class="p-0">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyRubroPincipal' | msg }}</span>
                                    <span *ngIf="elemento.rubro">{{ elemento.rubro.nombre }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyRubroSecundario' | msg }}</span>
                                    <span *ngIf="elemento.rubro_secundaria">{{ elemento.rubro_secundaria.nombre }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyFechaInicio' | msg }}</span>
                                    <span>{{ elemento.fecha_inicio | date : "d 'de' MMMM 'del' yyyy" : 'UTC-3' : 'es'  }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                <span class="key">{{ 'keyRUT' | msg }}</span>
                                    <span>{{ elemento.nro_rut }}
                                    </span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyBPS' | msg }}</span>
                                    <span>{{ elemento.nro_bps }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyNroReferencia' | msg }}</span>
                                    <span>{{ elemento.nro_referencia }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyDireccion' | msg }}</span>
                                    <span>{{ elemento.direccion }}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>

                <h3 [@inInfoAnimation]="{value: ':leave', params: { delay: 0.2} }">{{ 'subTituloContacto' | msg }}</h3>
                <mat-card [@inCardAnimation]="{value: ':leave', params: { delay: 0.1} }" class="p-0">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyEmail' | msg }}</span>
                                    <span>{{ elemento.email }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyTelefono' | msg }}</span>
                                    <span>{{ elemento.telefono }}</span>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div class="items">
                                    <span class="key">{{ 'keyCelular' | msg }}</span>
                                    <span>{{ elemento.celular }}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>

                <h3 *ngIf="elemento.observaciones" [@inInfoAnimation]="{value: ':leave', params: { delay: 0.4} }">{{ 'subTituloObservaciones' | msg }}</h3>
                <mat-card *ngIf="elemento.observaciones" [@inCardAnimation]="{value: ':leave', params: { delay: 0.3} }" class="p-0">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <div class="items">
                                    <p>{{ elemento.observaciones }}</p>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-6">
                <h3 *ngIf="elemento.empresa_persona && elemento.empresa_persona.length > 0" [@inInfoAnimation]="{value: ':leave', params: { delay: 0.3} }">{{ 'subTituloIntegrantes' | msg }}</h3>
                <mat-card *ngIf="elemento.empresa_persona" [@inCardAnimation]="{value: ':leave', params: { delay: 0.2} }" class="p-0">
                    <mat-card-content>
                        <mat-list>
                            <ng-container *ngFor="let persona of elemento.empresa_persona">
                                <ng-container *ngIf="persona.persona">
                                    <mat-list-item>
                                        <mat-icon matListIcon>account_circle</mat-icon>
                                        <h4 matLine>{{ persona.persona | nombrePersona }}</h4>
                                        <span matLine *ngIf="persona.tipo_relacion && persona.tipo_relacion.nombre">{{ persona.tipo_relacion.nombre }}</span>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </ng-container>
                        </mat-list>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </ng-template>
</div>